.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
  padding: 30px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}

.photo-details-modal__images .photo-list {
gap:30px;
}

.photo-details-modal__images .photo-list__item {
  margin: 0;
}


.photo-details-modal__image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  align-items: flex-start;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
  margin-left: 14px;
  margin-top: 0;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 80px;
  height: 80px;
}

.photo-details-modal__photographer-info {
  margin-top: 8px;
  font-weight: 700;
  // font-size: 16px;
  margin-left: 14px;
  margin-bottom: 6px;
}
