.photo-list__fav-icon {
  position: relative;
  top: 17px;
  right: -14px;
  cursor: pointer;
  margin-bottom: -40px;
  border-width: 0.1px;
  background-color: #EEEEEE;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
}

.photo-list__fav-icon-svg {
  padding:8px;
  padding-left: 8.5px;
  padding-top: 8px;
  top: 2px;
  
}